{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}
	Cache
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="ui stackable grid">
		<div class="twelve wide column">
			<h1 class="ui header">
				<i class="circular disk icon"></i>
				<div class="content">
					{{ 'fifty_deg_sylius_cache.ui.flush'|trans }}
					<div class="sub header">{{ 'fifty_deg_sylius_cache.ui.tools_to_flush_cache'|trans }}</div>
				</div>
			</h1>
		</div>
		<div class="twelve wide column">
			<div class="ui error message">
				<h6 class="header">
				{{ app.request.locale|locale_name(app.request.locale) }}
					{{ 'fifty_deg_sylius_cache.ui.please_use_carefully'|trans }}
				</h6>
                <p>
					{{ 'fifty_deg_sylius_cache.ui.use_only_if_necessary'|trans }}
                </p>
			</div>
		</div>
		<div class="twelve wide column">
            <button type="button" class="ui red button js__flushCacheButton" data-flush-cache-url="{{ url('app_admin_fifty_deg_cache_flusher_ajax') }}">{{ 'fifty_deg_sylius_cache.ui.flush'|trans }}</button>
            <div class="js__flushCacheResponse">
            </div>
        </div>
		<div class="transition hidden">
			<div class="flushing-cache">{{ 'fifty_deg_sylius_cache.ui.flushing_cache'|trans }}</div>
			<div class="cache-cleared-successfully">{{ 'fifty_deg_sylius_cache.ui.cache_cleared_successfully'|trans }}</div>
			<div class="something-went-wrong">{{ 'fifty_deg_sylius_cache.ui.something_went_wrong'|trans }}</div>
		</div>
	</div>
{% endblock %}

